<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>storyboardID</key>
		<string>Main</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>ControllerName</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>TodoList</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>ToDoList</string>
		<key>ControllerName</key>
		<string>TodoListVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>ComplexCollection</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Complex Collection View</string>
		<key>ControllerName</key>
		<string>ComplexCollectionVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>PeopleTable</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>People Table</string>
		<key>ControllerName</key>
		<string>PeopleTableVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>StudentTable</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Student Table</string>
		<key>ControllerName</key>
		<string>StudentTableVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>CountryTable</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Country Table</string>
		<key>ControllerName</key>
		<string>CountryTableVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>StackScreen</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Stack-Screen</string>
		<key>ControllerName</key>
		<string>StackScreenVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>ColorScreen</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Color-Screen</string>
		<key>ControllerName</key>
		<string>ColorScreenVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>Fheory</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Fheory</string>
		<key>ControllerName</key>
		<string>FheoryVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>HelloWorld</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Hello-World</string>
		<key>ControllerName</key>
		<string>HellowWorldVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>Biometric</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Biometric</string>
		<key>ControllerName</key>
		<string>BiometricVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>HeyScreen</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Hey-Screen</string>
		<key>ControllerName</key>
		<string>HeyScreenVC</string>
	</dict>
	<dict>
		<key>storyboardID</key>
		<string>PrasharBhartiSignIn</string>
		<key>image</key>
		<string>dashboard</string>
		<key>TitleKey</key>
		<string>Prashar Bharti</string>
		<key>ControllerName</key>
		<string>PrasharBhartiSignInVC</string>
	</dict>
</array>
</plist>
